
#transparentBK {
    all: unset;
    background-color: transparent;
}

#vdWhiteBK {
    all: unset;
    border-style: none;
    background-color: @theme_bg_color;
}

#vdSearch {
    all: unset;
    background-color: transparent;
    border-width: 0.1px;
    border-style: solid;
    border-top-style: none;
}

#vdSearch:backdrop {
    all: unset;
    background-color: transparent;
    border-width: 0.1px;
    border-style: solid;
    border-top-style: none;
}

#vdSearch:backdrop > * {
    background-color: transparent;
}

#vdSearchText {
    all: unset;
    padding: 5px;
    background-color: @theme_bg_color;
    border-style: none;
}

#vdSearchText:backdrop {
    all: unset;
    padding: 5px;
    background-color: transparent;
    border-style: none;
}

#vdCheckButton {
    all: unset;
    padding: 5px;
    background-color: @theme_bg_color;
    border-style: none;
}

#vdRadioButton{
    all: unset;
    padding: 5px;
    background-color: @theme_bg_color;
    border-style: none;
}

#vdEntry {
    padding: 5px;
    border-style: none;
    border-image: none;
    border-radius: 0px;
}

#vdEntry:disabled {
    padding: 5px;
    border-image: none;
    border-style: none;
    border-radius: 0px;
}

#vdEntrySmall {
    padding: 2px;
    border-style: none;
}

#vdEntryBorder {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    transition-property: border-color;
    transition-duration: 1s;
    border-color: shade(@theme_bg_color, 0.8);
}

#vdEntryBorder:disabled {
    padding: 5px;
    border-width: 1px;
    background-color: @theme_bg_color;
    border-style: solid;
    border-radius: 3px;
    transition-property: border-color;
    transition-duration: 1s;
    border-color: shade(@theme_bg_color, 0.8);
}

#vdButton{ 
    all: unset;
    font-weight: 200;
    padding: 5px;
    margin: 1px;
    border-width: 0px;
    background-color: transparent;
    border-style: solid;
    border-radius: 3px;
    transition-property: border-color;
    transition-duration: 1s;
    border-color: shade(@theme_bg_color, 0.8);
}

#vdButton:hover{ 
    all: unset;
    font-weight: 200;
    padding: 5px;
    border-width: 1px;
    background-color: transparent;
    border-style: solid;
    border-radius: 3px;
    transition-property: border-color;
    transition-duration: 1s;
    border-color: shade(@theme_bg_color, 0.8);
}

#vdScrolledWindow{ 
    all: unset;
    border-width: 1px;
    background-color: #ffffff;
    background-color: @theme_bg_color;
    border-style: none;
    border-radius: 3px;
    transition-property: border-color;
    transition-duration: 1s;
    border-color: shade(@theme_bg_color, 0.8);
}

#vdScrolledWindow:backdrop > *{
    background-color: #ffffff;
    background-color: @theme_bg_color;
    color: alpha (black, 0.5);
}

#vdTextView{
    all: unset;
    margin: 5px;
    border-width: 1px;
    background-color: #ffffff;
    background-color: @theme_bg_color;
    border-style: solid;
    border-radius: 3px;
    transition-property: border-color;
    transition-duration: 1s;
    border-color: shade(@theme_bg_color, 0.8);
}

#vdTextView:backdrop > *{
    background-color: #ffffff;
    background-color: @theme_bg_color;
    color: alpha (black, 0.5);
}

#vdTextView:focus {
    background-color: #ffffff;
    background-color: @theme_bg_color;
    border-color: blue;
    color: alpha (black, 0.5);
}

#vdNotebook > header.top {
    background: transparent;
}

#vdNotebook > header > tabs > tab {
    all: unset;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-top-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0.1px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-style: none;
    background: transparent;
}

#vdNotebook > header > tabs > tab:hover {
    background: transparent;
}

#vdNotebook > header > tabs > tab:checked {
    all: unset;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-top-width: 0.1px;
    border-right-width: 0.1px;
    border-left-width: 0.1px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-style: solid;
    background: transparent;
}

#vdFileChooserButton {
    all: unset;
    margin: 1px;
    border-width: 1px;
    background-color: @theme_bg_color;
    border-style: none;
    border-radius: 3px;
    transition-property: border-color;
    transition-duration: 1s;
    border-color: shade(@theme_bg_color, 0.8);
}

#vdFileChooserButton:only-child {
    all: unset;
    border-width: 0px;
    background-color: @theme_bg_color;
    border-style: none;
}

#vdSourceView {
    font-family: Monospace;
    font-size: 14px;
    font-weight: 400;
}

#vdStdSetting {
    all: unset;
    font-weight: 200;
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

treeview {
    all: unset;
    font-weight: 200;
    background-color: @theme_bg_color;
}

treeview.view:selected {
    font-weight: 200;
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

treeview.view:selected:backdrop {
    font-weight: 200;
    background-color: shade(@theme_bg_color, 0.8);
    color: @theme_fg_color;
}

#vdTooltipWindow {
	all: unset;
    font-family: Monospace;
    font-size: 14px;
    color: @tooltip_fg_color;
    background-color: @theme_bg_color;    
    border-width: 0.5px;
    border-style: solid;
    border-radius: 0px;
    border-color: black;
}

#vdHeaderLabel {
    all: unset;
}




